{% extends 'layout.html.twig' %}

{% block html_title %}Contact Jeroen De Dauw{% endblock %}

{% block body %}

    {% if app.request.method == 'GET' %}
        <div class="row">
            <div class="col-lg-8 mb-4">
                <h3>Contact me</h3>
                <form name="sentMessage" id="contactForm" action="{{ url('contact') }}" method="post">
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Name:</label>
                            <input type="text" class="form-control" name="name" id="name" required maxlength="1000">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email:</label>
                            <input type="email" class="form-control" name="email" id="email" required maxlength="1000">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Phone (optional):</label>
                            <input type="tel" class="form-control" name="phone" id="phone" maxlength="1000">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Message:</label>
                            <textarea rows="8" cols="100" class="form-control" name="message" id="message" required maxlength="100000"></textarea>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Type "I am awesome" to prove you are not a spambot:</label>
                            <input type="text" class="form-control" name="awesome" id="awesome" required pattern="I am awesome">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
                </form>
            </div>
        </div>
    {% endif %}

    {% if app.request.method == 'POST' %}
        {% if captchaValid %}
            <h1>Message send!</h1>

            <p>
                You will be redirected to my homepage in a moment.
                <a href="{{ url('index') }}">Go there right away</a>.
            </p>

            <meta http-equiv="refresh" content="3;url={{ url('index') }}" />
        {% else %}
            <p>Invalid captcha. Go back in your browsers history to try again.</p>
        {% endif %}
    {% endif %}

{% endblock %}

{% block footer_line %}
{% endblock %}

