{% extends 'layout.html.twig' %}

{% block html_title %}Gaming - Jeroen De Dauw{% endblock %}

{% block body %}

    <p>
        You can find videos on my <a href="https://www.youtube.com/c/EntropyWins">YouTube gaming channel</a>.
    </p>

    <p>
        I mainly play
        <a href="https://faforever.com/">Supreme Commander Forged Alliance Forever</a>
        and Age of Empires 2 with friends.
    </p>

{% endblock %}


