{% extends 'layout.html.twig' %}

{% block html_title %}Gaming - Jeroen De Dauw{% endblock %}

{% block body %}

    <p>
        You can find videos on my <a href="https://www.youtube.com/channel/UCEzz-FwJaaHGC4MVdMIzayg">YouTube gaming channel</a>.
    </p>

    <p>
        I mainly play
        <a href="https://faforever.com/">Supreme Commander Forged Alliance Forever</a>
        and you can find me on the
        <a href="https://faforever.com/competitive/leaderboards/global">global leaderboards</a>
        as EntropyWins.
    </p>

{% endblock %}


