
body {
	padding-top: 54px;
}


.red {
	color: darkred;
}



/*@import "https://fonts.googleapis.com/css?family=Roboto:100";*/
/*body {*/
	/*font-family: 'Roboto', sans-serif;*/
	/*background: #fdfdfd;*/
/*}*/

p {
	/*font-family: 'Roboto', sans-serif;*/
	/*font-size: 1.1em;*/
	font-weight: 300;
	line-height: 1.7em;
	color: rgba(0, 0, 0, 1);
}

a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}


.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
}

a.article,
a.article:hover {
	background: #6d7fcc !important;
	color: #fff !important;
}

a img {
	border: none;
}
a, a:link {
	color: #05ad9c;
	text-decoration: none;
}
a:visited {
	color: #047d5c;
	text-decoration: none;
}
a:focus, a:hover, a:active {
	color: #05ad9c;
	text-decoration: underline;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	display: flex;
	width: 100%;
}

#sidebar {
	width: 390px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -390px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: lightblue;
}

.active-page {
	color: #05ad9c !important;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
}

#sidebar a {
	color: #b8b7ad;
}

#sidebar a:hover {
	color: darkred;
}

#mobileNavbar {
	display: none;
}

.portfolio-item {
	margin-bottom: 30px;
}

ul.mediawiki-extensions li a:first-child {
	font-weight: bold;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
	max-width: 1100px;
	padding: 40px;
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	left: 390px;
	width: 100%;
}

@media (max-width: 1200px) {
	#sidebar {
		margin-left: -390px;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#content {
		left: 0;
		top: 40px;
		padding-left: 15px;
		padding-right: 15px;
	}
	#mobileNavbar {
		display: flex;
	}
}

@media (max-width: 900px) {
	#duck {
		display: none;
	}
}

@media (max-width: 576px) {
	.not-phone {
		display: none;
	}
}

@media (max-width: 600px) {
	#content {
		padding-left: 0;
		padding-right: 0;
	}
	#the-me {
		display: none;
	}
}