{% extends "layout.html" %}

{% block title %}Software Craftsmanship - Site of Jeroen De Dauw{% endblock %}

{% block content %}

{% markdown %}

# Software Craftsmanship

I am an advocate of Software Craftsmanship and the Clean Code movement.

I am a signatory of the [Software Craftsmanship manifesto](http://manifesto.softwarecraftsmanship.org/)
and wear a green [Clean Code band](http://butunclebob.com/files/images/Green%20Band.jpg) as symbol
of my dedication to professionalism. I am also a voting representative on the [PHP Framework
Interoperability Group](http://www.php-fig.org/) to promote good standards in the PHP world.

In building enterprise applications it is paramount to follow professional development techniques
and methodologies. Creating something that is badly designed and barely functions might work at
first, though is not sustainable in big projects. The knowledge of how to design software well and
avoid common pitfalls, is while well understood, not widespread enough into the software development
industry.
<br />

### Blog posts
{% endmarkdown %}

<div class="row">
    <div class="col-md-6">
        <strong>Software Craftsmanship</strong>
        <ul>
            {% for post in postscraftsmanship|slice(0, 8) %}
            <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a> <small>({{ post.date|date }})</small></li>
            {% endfor %}
        </ul>
        View <a href="https://www.entropywins.wtf/blog/tag/software-craftsmanship/">all Software Craftsmanship blog posts</a>
    </div>
    <div class="col-md-6">
        <strong>Clean Code</strong>
        <ul>
            {% for post in postscleancode|slice(0, 8) %}
            <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a> <small>({{ post.date|date }})</small></li>
            {% endfor %}
        </ul>
        View <a href="https://www.entropywins.wtf/blog/tag/clean-code/">all Clean Code blog posts</a>
    </div>
</div>

{% markdown %}

### Presentations by me on technical topics:

Note that these slides are not designed for standalone usage.
{% endmarkdown %}
<div class="row" style="margin-bottom: 15px">
    <div class="col-md-6">
        <strong>Clean Functions</strong>: how to create truly clean and well designed functions

        <ul>
            <li>Read <a href="https://github.com/JeroenDeDauw/slides/blob/master/craftmanship/functions/README.md">the abstract</a></li>
            <li>View <a href="http://bit.ly/clean-functions">the slides</a></li>
            <li>Read <a href="http://www.entropywins.wtf/blog/2013/09/08/clean-functions/">the blog post</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <strong>Component design</strong>: how to create well designed components
        <ul>
            <li>Read <a href="https://github.com/JeroenDeDauw/slides/blob/master/craftmanship/components/README.md">the abstract</a></li>
            <li>View <a href="http://bit.ly/component-design">the slides</a></li>
            <li>Read <a href="http://www.entropywins.wtf/blog/2014/07/12/component-design/">the blog post</a></li>
        </ul>
    </div>
</div>
<div class="row" style="margin-bottom: 10px">
    <div class="col-md-6">
        <strong>The S in STUPID</strong>: why static code is generally harmful and should be rarely used
        <ul>
            <li>Read <a href="https://github.com/JeroenDeDauw/slides/blob/master/craftmanship/static/README.md">the abstract</a></li>
            <li>View <a href="http://bit.ly/static-code">the slides</a></li>
            <li>Read <a href="http://www.entropywins.wtf/blog/2013/11/15/presentation-the-s-in-stupid/">the blog post</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <strong>The Liskov Substitution Principle</strong>: how to avoid common inheritance related pitfalls
        <ul>
            <li>Read <a href="https://github.com/JeroenDeDauw/slides/blob/master/craftmanship/LSP/README.md">the abstract</a></li>
            <li>View <a href="http://bit.ly/solid-lsp">the slides</a></li>
            <li>Read <a href="https://www.entropywins.wtf/blog/2016/01/24/the-liskov-substitution-principle/">the blog post</a></li>
        </ul>
    </div>
</div>
<div class="row" style="margin-bottom: 10px">
    <div class="col-md-12">
        <strong>Writing easy to maintain code</strong>: talk from the 2015 EnthusiastiCon.
        <ul>
            <li>View <a href="http://bit.ly/econ-cleancode">the slides</a></li>
            <li>View <a href="https://www.youtube.com/watch?v=vyazVasLpds">the recording</a></li>
        </ul>
    </div>
</div>

{% markdown %}

### Recommended reading: Software Craftsmanship

* [The Clean Coder: A Code of Conduct for Professional Programmers](https://www.goodreads.com/book/show/10284614-the-clean-coder), Robert C. Martin, 2011
* [The Software Craftsman: Professionalism, Pragmatism, Pride](https://www.goodreads.com/book/show/23215733-the-software-craftsman), Sandro Mancuso, 2014
* [Apprenticeship Patterns: Guidance for the Aspiring Software Craftsman](https://www.goodreads.com/book/show/5608045-apprenticeship-patterns),  Dave Hoover and Adewale Oshineye , 2009
<br /><br />

### Recommended reading: Technical topics

* [The SOLID principles](https://en.wikipedia.org/wiki/SOLID), Wikipedia article
* [Test-driven development](https://en.wikipedia.org/wiki/Test-driven_development), Wikipedia article
* [Clean Code: A Handbook of Agile Software Craftsmanship](https://www.goodreads.com/book/show/3735293-clean-code), Robert C. Martin, 2007
* [Refactoring: Improving the Design of Existing Code](https://www.goodreads.com/book/show/44936.Refactoring) Martin Fowler, Kent Beck and Don Robert, 1999
* [Working Effectively with Legacy Code](https://www.goodreads.com/book/show/44919.Working_Effectively_with_Legacy_Code), Michael Feathers, 2004
* [Continuous Delivery: Reliable Software Releases through Build, Test, and Deployment Automation](https://www.goodreads.com/book/show/8686650-continuous-delivery), David Farley and Jez Humble, 2010
<br /><br />

### Podcast with me on Software Craftsmanship:

* [Software Craftsmanship: Values, Practices and Community](https://sourcecode.berlin/2015/04/17/software-craftsmanship/), [sourcecode.berlin](https://sourcecode.berlin)
{% endmarkdown %}
<br />

{% endblock %}

