{% extends "layout.html" %}

{% block title %}EntropyWins! Gaming - Site of Jeroen De Dauw{% endblock %}

{% block content %}
{% markdown %}

### Blog posts
{% endmarkdown %}
<div class="row">
    <div class="col-md-6">
        <ul>
            {% for post in blogposts|slice(0, 5) %}
            <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a> <small>({{ post.date|date }})</small></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            {% for post in blogposts|slice(5, 10) %}
            <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a> <small>({{ post.date|date }})</small></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% markdown %}

View [all gaming blog posts](https://www.entropywins.wtf/blog/category/gaming/).

{% endmarkdown %}
{% endblock %}