{% extends "layout.html" %}

{% block title %}EntropyWins! Gaming - Site of Jeroen De Dauw{% endblock %}

{% block content %}
{% markdown %}

### Blog posts
{% endmarkdown %}
<div class="row">
    <div class="col-md-6">
        <ul>
            {% for post in blogposts|slice(0, 5) %}
            <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a> <small>({{ post.date|date }})</small></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            {% for post in blogposts|slice(5, 10) %}
            <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a> <small>({{ post.date|date }})</small></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% markdown %}
View [all gaming blog posts](https://www.entropywins.wtf/blog/category/gaming/).

### Games

**Actively playing**

* [Supreme Commander: Forged Alliance](http://www.faforever.com/) (the greatest RTS of all time) as EntropyWins

**Sometimes playing**

* [Zero-k](http://zero-k.info/) (A free open source game based on [Total Annihilation](https://en.wikipedia.org/wiki/Total_Annihilation)) as [Entropy](http://zero-k.info/Users/Detail/361253)
* [Wargame: Red Dragon](https://en.wikipedia.org/wiki/Wargame:_Red_Dragon) as [RTS]BN+VS

### Twitch.tv
{% endmarkdown %}

<iframe
        src="https://player.twitch.tv/?channel=entropygames"
        height="720"
        width="960"
        frameborder="0"
        scrolling="no"
        allowfullscreen>
</iframe>
{% markdown %}
### Latest highlights

{% for video in videos %}
<iframe width="960" height="720" src="https://www.youtube.com/embed/{{ video.id }}" frameborder="0" allowfullscreen></iframe>
{% endfor %}

{% endmarkdown %}
<br /><br />

{% endblock %}