{% extends "layout.html" %}

{% block title %}Hire Jeroen De Dauw{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">

{% markdown %}

## Quicker delivery, higher quality and lower cost

Achieving all these things at the same time might seem unrealistic, yet it is what I commit to provide.

In [a small article titled "Tradable Quality Hypothesis"](http://martinfowler.com/bliki/TradableQualityHypothesis.html),
Marin Fowler explains how we come to expect being able to trade quality for cost. The example used
being that a nicer car will cost more then something less fancy. Even though most developers think
this also applies to software, reality is quite different. A skilled developer can complete any
non-trivial project as fast following practices that result in high quality than without following
these practices. In a lot of cases they will actually be faster, possibly considerably so. You can
compare this to manually constructing a product and creating an automated assembly line. Clearly
the assembly line is faster and won't make mistakes because it's tired. The catch being that the
assembly line first needs to be build, just as the software development skills first need to be
learned. Which is why I can deliver on this: I understand the advantage of having an assembly line
and already have one build.

## Professional approach

I regard the work I do as entering into a productive partnership in which it is my task to provide
what is most needed. This is done via close collaboration with my clients and application of the
right technical diciplines on my side.

## Concrete differences

This is the sort of value I aim to provide:

* Greater delivery speed
* Closer fit to what you need
* Less bugs (very few)
* Greater ability to respond to change
* Easier (and thus cheaper) to maintain, especially by other developers

Below I list some technical means that I generally follow to achieve those goals. I understand very
well that these are not important by themselves and generally do not have a place when talking with
business people.

* Fully tested code (typically written test first)
* Easy to execute continuous integration
* Code that has low complexity, high cohesion and low coupling
* Well defined and singular responsibilities without mixing of abstraction levels
* Intent revealing naming and coding style

<s>Furthermore, my services include UI/UX expertise and professional marketing support.</s>

<small>In case you are not convinced by the above, just imagine some fancy layout with a professional
looking picture of people collaborating and some typical marketing slogans with all the right
buzzwords on this page.</small>

## Contact me

You can email me at MyFullName@gmail.com.

{% endmarkdown %}

    </div>
</div>

{% endblock %}