{% extends "layout.html" %}

{% block title %}Entropy Wins! Site of Jeroen De Dauw{% endblock %}

{% block content %}

<div class="row" style="margin-top: 17px">
    <div class="col-md-12">
        <p>
            In my professional life I am a Software Craftsman with a passion for effective value delivery.
            I am best known for my <a href="{{ app.request.basepath }}/craftsmanship">presentations and blog posts on
            software architecture and code quality</a>. I am also known for my contributions to various Wikimedia
            projects, most notably <a href="{{ app.request.basepath }}/wikidata">Wikidata</a>, and maintenance of
             <a href="{{ app.request.basepath }}/projects">various open source projects</a>, including 
            <a href="{{ app.request.basepath }}/smw">Semantic MediaWiki</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <b>Latest blog posts</b>

            <ul>
                {% for post in blogposts|slice(0, 9) %}
                <li><a href="{{ post.link|e }}">{{ post.title|raw }}</a> <small>({{ post.date|date }})</small></li>
                {% endfor %}
            </ul>
        </div>

        <div class="row" style="margin-top: 10px">
            <b>Under construction</b><br />
            <marquee width="70%">Hard at work to make this website geocities compliant! Apparently the blink tag no longer works... meh   E:[,,_,,]=~</marquee>
            <p>
                <img src="{{ app.request.basepath }}/images/underconstruction.gif" />
                <br />
                <span style="margin-left: 80px">&#8598; That is me configuring Apache.</span>
            </p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row">
            <b>You can find me on</b>
            <ul>
                <li><a href="https://github.com/JeroenDeDauw">GitHub</a></li>
                <li><a href="https://twitter.com/JeroenDeDauw">Twitter</a></li>
                <li><a href="https://packagist.org/users/Jeroen%20De%20Dauw/">Packagist</a></li>
                <li><a href="https://keybase.io/jeroendedauw">Keybase</a></li>
                <li><a href="https://www.mediawiki.org/wiki/User:Jeroen_De_Dauw">MediaWiki.org</a></li>
                <li><a href="https://www.openhub.net/accounts/jeroendedauw">OpenHub</a></li>
                <li><a href="https://www.goodreads.com/user/show/16821921-jeroen-de-dauw">Goodreads</a></li>
            </ul>
        </div>

        <div class="row" style="margin-top: 10px">
            <b>Contact</b>
            <ul>
                <li>Email: MyFullName@gmail.com</li>
                <li>Freenode: JeroenDeDauw (#wikidata)</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
