{% extends "layout.html" %}

{% block title %}bn2vs.com{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2>Under construction</h2>
        <marquee>Hard at work to make this website geocities compliant! Apparently the blink tag no longer works... meh</marquee>
        <p>
            <img src="{{ app.request.basepath }}/images/underconstruction.gif" />
            <br />
            <span style="margin-left: 80px">&#8598; That is me configuring Apache.</span>
        </p>
    </div>
</div>

<div class="row" style="margin-top: 30px">
    <div class="col-md-12">
        <p>
            I'm a <a href="{{ app.request.basepath }}/craftsmanship">Software Craftsmanship</a> advocate
            that contributes to <a href="{{ app.request.basepath }}/wikidata">Wikidata</a>
            and <a href="{{ app.request.basepath }}/smw">SMW</a>
            and maintains <a href="{{ app.request.basepath }}/libraries">some libraries</a>.
        </p>

        <b>You can find me on</b>
        <ul>
            <li><a href="https://github.com/JeroenDeDauw">GitHub</a></li>
            <li><a href="https://twitter.com/JeroenDeDauw">Twitter</a></li>
            <li><a href="https://www.ohloh.net/accounts/jeroendedauw">Ohloh</a></li>
            <li><a href="https://www.mediawiki.org/wiki/User:Jeroen_De_Dauw">MediaWiki.org</a></li>
            <li><a href="https://packagist.org/users/Jeroen%20De%20Dauw/">Packagist</a></li>
            <li><a href="https://keybase.io/jeroendedauw">Keybase</a></li>
        </ul>
    </div>
</div>

{% endblock %}
