<!DOCTYPE html>
<html>
<head>
    <title>{% block title '' %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ app.request.basepath }}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <nav class="nav nav-pills main-nav">
        <li {% if page == 'home' %}class="active"{% endif %}>
        <a href="{{ app.request.basepath }}/">Home</a>
        </li>
        <li {% if page == 'craftsmanship' %}class="active"{% endif %}>
        <a href="{{ app.request.basepath }}/craftsmanship">Craftsmanship</a>
        </li>
        <li {% if page == 'smw' %}class="active"{% endif %}>
        <a href="{{ app.request.basepath }}/smw">SMW</a>
        </li>
        <li {% if page == 'wikidata' %}class="active"{% endif %}>
        <a href="{{ app.request.basepath }}/wikidata">Wikidata</a>
        </li>
        <li {% if page == 'libraries' %}class="active"{% endif %}>
        <a href="{{ app.request.basepath }}/libraries">Libraries</a>
        </li>
        <li {% if page == 'blog-embedded' %}class="active"{% endif %}>
        <a href="{{ app.request.basepath }}/blog-embedded">Blog</a>
        </li>
    </nav>
</div>
<div class="jumbotron banner">
    <div class="banner-text container">
        <picture class="logo">
            <img src="{{ app.request.basepath }}/images/logo.jpg">
        </picture>
        Site of Jeroen De Dauw
        <p class="sub">Also see <a href="http://www.bn2vs.com/blog/">my blog</a></p>
    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>

<a href="https://github.com/JeroenDeDauw/bn2vs.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ app.request.basepath }}/images/gh.png"></a>
</body>
</html>