<!DOCTYPE html>
<html>
<head>
    <title>{% block title '' %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ app.request.basepath }}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <nav class="nav nav-pills main-nav">
        <li {% if page == 'home' %}class="active"{% endif %}>
        <a href="{{ app.request.basepath }}/">Home</a>
        </li>
        <li {% if page == 'libraries' %}class="active"{% endif %}>
        <a href="{{ app.request.basepath }}/libraries">Libraries</a>
        </li>
        <li {% if page == 'craftsmanship' %}class="active"{% endif %}>
        <a href="{{ app.request.basepath }}/craftsmanship">Craftsmanship</a>
        </li>
        <li {% if page == 'smw' %}class="active"{% endif %}>
        <a href="{{ app.request.basepath }}/smw">SMW</a>
        </li>
        <li {% if page == 'wikidata' %}class="active"{% endif %}>
        <a href="{{ app.request.basepath }}/wikidata">Wikidata</a>
        </li>
        <li {% if page == 'blog-embedded' %}class="active"{% endif %}>
        <a href="{{ app.request.basepath }}/blog-embedded">Blog</a>
        </li>
    </nav>
</div>
<div class="jumbotron banner">
    <div class="banner-text container">
        <picture class="logo">
            <img src="{{ app.request.basepath }}/images/logo.jpg">
        </picture>
        Site of Jeroen De Dauw
        <p class="sub">Also see <a href="http://www.bn2vs.com/blog/">my blog</a></p>
    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>

<a href="https://github.com/JeroenDeDauw/bn2vs.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</body>
</html>