<div class="row">
    <div class="col-md-12">
        <h2><a href="https://www.pro.wiki/" style="color: black">MediaWiki hosting</a></h2>
        <p>
            Created your wiki today! <a href="https://www.pro.wiki/">Try out ProWiki</a> via the free trial.
            <a href="https://www.pro.wiki/">Fully managed wiki hosting</a> with instant setup
            and integrated admin panel.
        </p>
    </div>
</div>