<div class="row">
    <div class="col-md-12">
        <h2><a href="https://www.pro.wiki/" style="color: black">MediaWiki hosting</a></h2>
        <p>
            Create your wiki today! <a href="https://www.pro.wiki/">Try out ProWiki</a> via the free trial.
            Fully managed <a href="https://www.pro.wiki/">wiki hosting</a> with instant setup
            and integrated <a href="https://www.pro.wiki/admin-panel">admin panel</a>.
        </p>
    </div>
</div>