<div class="row">
    <div class="col-lg-12">
        <h2>Wikibase libraries</h2>

        <p>
            I created several libraries part of the <a href="http://wikiba.se/">Wikibase software</a>. These
            are used on websites such as Wikipedia and Wikidata and have received contributions from many other people.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
            <h4 class="card-header"><a href="https://github.com/wmde/WikibaseDataModel">Wikibase DataModel</a></h4>
            <div class="card-body">
                <p class="card-text">
                    The canonical PHP implementation of the Data Model at the heart of the Wikibase software.
                </p>
            </div>
            <div class="card-footer">
                <a href="https://travis-ci.org/wmde/WikibaseDataModel"><img src="https://travis-ci.org/wmde/WikibaseDataModel.svg?branch=master" /></a>
                <a href="https://scrutinizer-ci.com/g/wmde/WikibaseDataModel/" class="not-phone"><img src="https://scrutinizer-ci.com/g/wmde/WikibaseDataModel/badges/coverage.png?b=master" /></a>
                <a href="https://packagist.org/packages/wikibase/data-model"><img src="https://poser.pugx.org/wikibase/data-model/d/total.png"></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
            <h4 class="card-header"><a href="https://github.com/wmde/WikibaseDataModel">Wikibase DataModel Serialization</a></h4>
            <div class="card-body">
                <p class="card-text">
                    Small library containing services to assist with serialization and deserialization of Wikibase DataModel objects.
                </p>
            </div>
            <div class="card-footer">
                <a href="https://github.com/wmde/WikibaseDataModelSerialization"><img src="https://travis-ci.org/wmde/WikibaseDataModelSerialization.svg?branch=master" /></a>
                <a href="https://scrutinizer-ci.com/g/wmde/WikibaseDataModelSerialization/" class="not-phone"><img src="https://scrutinizer-ci.com/g/wmde/WikibaseDataModelSerialization/badges/coverage.png?b=master" /></a>
                <a href="https://packagist.org/packages/wikibase/data-model-serialization"><img src="https://poser.pugx.org/wikibase/data-model-serialization/d/total.png"></a>
            </div>
        </div>
    </div>

    <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
            <h4 class="card-header"><a href="https://github.com/wmde/WikibaseInternalSerialization">Wikibase Internal Serialization</a></h4>
            <div class="card-body">
                <p class="card-text">
                    Services to assist with serialization and deserialization of Wikibase DataModel objects on the Wikimedia cluster.
                </p>
            </div>
            <div class="card-footer">
                <a href="https://github.com/wmde/WikibaseInternalSerialization"><img src="https://travis-ci.org/wmde/WikibaseInternalSerialization.svg?branch=master" /></a>
                <a href="https://scrutinizer-ci.com/g/wmde/WikibaseInternalSerialization/" class="not-phone"><img src="https://scrutinizer-ci.com/g/wmde/WikibaseInternalSerialization/badges/coverage.png?b=master" /></a>
                <a href="https://packagist.org/packages/wikibase/internal-serialization"><img src="https://poser.pugx.org/wikibase/internal-serialization/d/total.png"></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
            <h4 class="card-header"><a href="https://github.com/wmde/WikibaseDataModelServices">Wikibase DataModel Services</a></h4>
            <div class="card-body">
                <p class="card-text">
                    A collection of services around Wikibase DataModel.
                </p>
            </div>
            <div class="card-footer">
                <a href="https://github.com/wmde/WikibaseDataModelServices"><img src="https://travis-ci.org/wmde/WikibaseDataModelServices.svg?branch=master" /></a>
                <a href="https://scrutinizer-ci.com/g/wmde/WikibaseDataModelServices/" class="not-phone"><img src="https://scrutinizer-ci.com/g/wmde/WikibaseDataModelServices/badges/coverage.png?b=master" /></a>
                <a href="https://packagist.org/packages/wikibase/data-model-services"><img src="https://poser.pugx.org/wikibase/data-model-services/d/total.png"></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <p>
            I also created these Wikibase related libraries:
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
            <h4 class="card-header"><a href="https://github.com/JeroenDeDauw/JsonDumpReader">JsonDumpReader</a></h4>
            <div class="card-body">
                <p class="card-text">
                    Reading of, and iteration through, the Wikibase entities in a Wikibase Repository JSON dump.
                </p>
            </div>
            <div class="card-footer">
                <a href="https://travis-ci.org/JeroenDeDauw/JsonDumpReader"><img src="https://travis-ci.org/JeroenDeDauw/JsonDumpReader.svg?branch=master" /></a>
                <a href="https://scrutinizer-ci.com/g/JeroenDeDauw/JsonDumpReader/" class="not-phone"><img src="https://scrutinizer-ci.com/g/JeroenDeDauw/JsonDumpReader/badges/coverage.png?b=master" /></a>
                <a href="https://packagist.org/packages/jeroen/json-dump-reader"><img src="https://poser.pugx.org/jeroen/json-dump-reader/d/total.png" /></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
            <h4 class="card-header"><a href="https://github.com/wmde/wikibase-term-store">Wikibase TermStore</a></h4>
            <div class="card-body">
                <p class="card-text">
                    Small library for looking up terms by item or property id or finding ids by term
                </p>
            </div>
            <div class="card-footer">
                <a href="https://travis-ci.org/wmde/wikibase-term-store"><img src="https://travis-ci.org/wmde/wikibase-term-store.svg?branch=master" /></a>
                <a href="https://scrutinizer-ci.com/g/wmde/WikibaseDataModelSerialization/" class="not-phone"><img src="https://scrutinizer-ci.com/g/wmde/WikibaseDataModelSerialization/badges/coverage.png?b=master" /></a>
                <a href="https://packagist.org/packages/wikibase/term-store"><img src="https://poser.pugx.org/wikibase/term-store/d/total.png" /></a>
            </div>
        </div>
    </div>

    <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
            <h4 class="card-header"><a href="https://github.com/JeroenDeDauw/EntityStore">QueryR EntityStore</a></h4>
            <div class="card-body">
                <p class="card-text">
                    Provides persistence and basic lookup capabilities for collections of Wikibase entities.
                </p>
            </div>
            <div class="card-footer">
                <a href="https://travis-ci.org/JeroenDeDauw/EntityStore"><img src="https://travis-ci.org/JeroenDeDauw/EntityStore.svg?branch=master" /></a>
                <a href="https://scrutinizer-ci.com/g/JeroenDeDauw/EntityStore/" class="not-phone"><img src="https://scrutinizer-ci.com/g/JeroenDeDauw/EntityStore/badges/coverage.png?b=master" /></a>
                <a href="https://packagist.org/packages/queryr/entity-store"><img src="https://poser.pugx.org/queryr/entity-store/d/total.png" /></a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 portfolio-item">
        <div class="card h-100">
            <h4 class="card-header"><a href="https://github.com/JeroenDeDauw/TermStore">QueryR TermStore</a></h4>
            <div class="card-body">
                <p class="card-text">
                    Provides persistence of Wikibase terms with lookups of those terms and by those terms.
                </p>
            </div>
            <div class="card-footer">
                <a href="https://travis-ci.org/JeroenDeDauw/TermStore"><img src="https://travis-ci.org/JeroenDeDauw/TermStore.svg?branch=master" /></a>
                <a href="https://scrutinizer-ci.com/g/JeroenDeDauw/TermStore/" class="not-phone"><img src="https://scrutinizer-ci.com/g/JeroenDeDauw/TermStore/badges/coverage.png?b=master" /></a>
                <a href="https://packagist.org/packages/queryr/term-store"><img src="https://poser.pugx.org/queryr/term-store/d/total.png" /></a>
            </div>
        </div>
    </div>
</div>